.App {
  background-color: #7ebbbf;
}
.editor-container {
  border: 1px solid black;
  margin: auto;
  width: 50%;
  height: 150px;
  position: relative;

}
.previewer-container {
  border: 1px solid black;
  margin: auto;
  margin-top: 4em;
  width: 80%;
  min-height: 250px;
  background-color: #b3d2d8;


}
.editor-header {
  background-color: teal;
}
.previewer-header {
  background-color: teal;
}
.camp-icon {
  display: inline;
  margin-left: 5px;
}
.header-text {
  display: inline;
  margin-left: 10px;
}
#textarea {
  width: 98.5%;
  height: 125px;
  background-color: #b3d2d8;
  display: inline-flex;
}
#textarea:focus {
  outline: none;
}

#preview {
  border: 1px solid black;
  margin: 5px;
  min-height: 220px;
}
code {
  background-color: white;
  min-width: 2px;
  padding-right: 2px;
  display: inline-block;
  padding: 1px 4px 2px 4px;
}
